##########################################################
### Required by OpenAI Python API Quickstart #############
### https://github.com/openai/openai-quickstart-python ###
##########################################################
autopep8==1.6.0
certifi==2022.12.7
charset-normalizer==2.0.7
click==8.0.3
et-xmlfile==1.1.0
Flask==2.0.2
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
numpy==1.24.1
openai==0.25.0
openpyxl==3.0.9
pandas==1.3.5
pandas-stubs==1.2.0.35
pycodestyle==2.8.0
python-dateutil==2.8.2
python-dotenv==0.19.2
pytz==2021.3
requests==2.26.0
six==1.16.0
toml==0.10.2
tqdm==4.62.3
urllib3==1.26.7
Werkzeug==2.0.2

##########################################################
### Additional software specific requirements ############
##########################################################
Flask-Assets==2.0
libsass==0.22.0
rouge-score==0.1.2
pypdf==3.3.0
pdf2doi==1.5
PyPDF2==2.12.1

layoutparser==0.3.4
layoutparser[ocr]==0.3.4
pytesseract==0.3.10
torchvision==0.13.1
git+https://github.com/facebookresearch/detectron2.git@v0.5#egg=detectron2