<header class="d-flex align-items-center bg-light rounded-pill fs-5 py-2 px-5 mb-5">
    <a class="navbar-brand fw-semibold fs-4 me-3" href="{{ url_for('index') }}">
        <i class="fa-regular fa-file-pdf text-success my-1"></i>&nbsp;pub2sum
    </a>

    <ul class="navbar-nav d-none d-lg-flex flex-row">
        <li class="nav-item">
            <a class="nav-link py-2 px-0 px-lg-2{% if active_page == "summarizer" %} active{% endif %}"
               href="{{ url_for('summarizer') }}">Summarizer</a>
        </li>

        <li class="nav-item">
            <a class="nav-link py-2 px-0 px-lg-2{% if active_page == "rouge" %} active{% endif %}"
               href="{{ url_for('rouge') }}">ROUGE</a>
        </li>

        <li class="nav-item">
            <a class="nav-link py-2 px-0 px-lg-2{% if active_page == "docs" %} active{% endif %}"
               href="{{ url_for("getting_started") }}">Documentation</a>
        </li>
    </ul>

    <ul class="navbar-nav d-none d-lg-flex flex-row ms-auto">
        <li class="nav-item">
            <a class="nav-link py-2 px-0 px-lg-2" href="https://github.com/SamuelKnaus/pub2sum"
               target="_blank"
               rel="noopener">
                <i class="fa-brands fa-github"></i>
            </a>
        </li>
    </ul>
</header>