{% extends "layout.html" %}

{% block title %}Home - pub2sum{% endblock %}

{% block navbar %}
    <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav">
        <li class="nav-item col-6 col-lg-auto">
            <a class="nav-link py-2 px-0 px-lg-2" href="{{ url_for('summarizer') }}">Summarizer</a>
        </li>
        <li class="nav-item col-6 col-lg-auto">
            <a class="nav-link py-2 px-0 px-lg-2" href="{{ url_for('examples') }}">Examples</a>
        </li>
    </ul>
{% endblock %}

{% block main %}
    <div class="teaser">
        <div class="container-xxl">
            <div class="col-md-8 mx-auto text-center">
                <i class="fa-regular fa-file-pdf primary-color my-1 d-block mx-auto mb-3 pub2sum-logo"></i>
                <h1 class="mb-3 fw-semibold">Summarize any scientific paper with ease!</h1>

                <p class="lead mb-4">Say goodbye to troublesome literature research. Automatically summarize papers,
                    organize them in a concept-centric way, and create citations with just one click.<br>Made available
                    with state-of-the-art AI.</p>

                <div class="d-flex flex-column flex-lg-row align-items-md-stretch justify-content-md-center gap-3 mb-4">
                    <a href="{{ url_for('summarizer') }}"
                       class="btn btn-lg btn-primary-color d-flex align-items-center justify-content-center fw-semibold">
                        <i class="fa-solid fa-pen-nib"></i>&nbsp;Get started
                    </a>

                    <div class="d-flex align-items-center justify-content-center fw-semibold">
                        or
                    </div>

                    <a href="{{ url_for('examples') }}"
                       class="btn btn-lg btn-outline-primary-color d-flex align-items-center justify-content-center">
                        See examples
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}