{% extends "layout.html" %}
{% set active_page = "index" %}

{% block title %}Home - pub2sum{% endblock title %}

{% block teaser %}
    <div class="text-center">
        <i class="fa-regular fa-file-pdf text-success my-1 d-block mx-auto mb-3 pub2sum-logo"></i>
        <h1 class="mb-3 fw-semibold">Summarize any scientific paper with ease!</h1>

        <p class="lead mb-4">Say goodbye to troublesome literature research. Automatically summarize papers and create
            citations with just one click. Made available with state-of-the-art AI.</p>

        <div class="d-flex flex-column flex-lg-row align-items-md-stretch justify-content-md-center gap-3">
            <a href="{{ url_for('summarizer') }}"
               class="btn btn-lg btn-success d-flex align-items-center justify-content-center fw-semibold">
                <i class="fa-solid fa-pen-nib"></i>&nbsp;Summarize
            </a>

            <div class="d-flex align-items-center justify-content-center fw-semibold">
                or
            </div>

            <a href="{{ url_for('rouge') }}"
               class="btn btn-lg btn-outline-success d-flex align-items-center justify-content-center">
                ROUGE
            </a>
        </div>
    </div>
{% endblock teaser %}
