{% set active_page = active_page|default("index") %}

<!DOCTYPE html>
<html lang="de">

<head>
    <title>{% block title %}{% endblock title %}</title>
    {% include "head.html" %}
</head>

<body>
<div class="wrapper mx-auto py-5">
    <div class="container-fluid">
        {% include "header.html" %}

        {% block subnavigation %}{% endblock subnavigation %}

        <main class="pb-5 mb-5">
            <div class="teaser col-sm-8 mx-auto">
                {% block teaser %}{% endblock teaser %}
            </div>

            <div class="content">
                {% block content %}{% endblock content %}
            </div>
        </main>

        {% include "footer.html" %}
    </div>
</div>

{% include"javascripts.html" %}
</body>
</html>