<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/fontawesome.min.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/brands.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/solid.css') }}"/>

<link rel="stylesheet" href="{{ url_for('static', filename='/styles/helper.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='/styles/header.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='/styles/main.css') }}"/>