{% extends "layout.html" %}
{% set active_page = "summarizer" %}

{% block title %}Summarizer - pub2sum{% endblock %}

{% block teaser %}
    <div class="teaser mb-5">
        <div class="col-md-8 mx-auto mb-5">
            <h1 class="text-center">Summarizer</h1>
            <p class="lead text-center">Choose or upload your scientific papers here.</p>

            <form action="/summarizer" method="post" class="mb-4">
                <div class="form-floating mb-3">
                    <input type="text" name="file_name" id="fileNameInput" class="form-control" placeholder="paper.pdf">
                    <label for="fileNameInput">Enter a file name</label>
                </div>
                <button type="submit" class="btn btn-lg btn-primary w-100">Submit</button>
            </form>

            {% if raw_text or summary or reference_list %}
                <div class="scroll-to-results text-center">
                    <a href="#summarizer-results-section"><i class="fa-solid fa-angles-down"></i></a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock teaser %}

{% block content %}
    {% if raw_text or summary or reference_list %}
        <div id="summarizer-results-section" class="results">
            <h2 class="text-center mb-4">Results</h2>

            <div class="accordion" id="summarizer-results-accordion">
                {% if raw_text %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="summarizer-raw-input-text">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#summarizer-raw-input-text-panel" aria-expanded="false"
                                    aria-controls="summarizer-raw-input-text-panel">
                                Input
                            </button>
                        </h2>
                        <div id="summarizer-raw-input-text-panel" class="accordion-collapse collapse"
                             aria-labelledby="summarizer-raw-input-text">
                            <div class="accordion-body">
                                <code>Input Word Count = {{ raw_text_word_count }}<br>
                                    # of Tokens ~= {{ raw_text_tokens }}</code>
                                <hr>
                                {{ raw_text | safe }}
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if summary %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="summarizer-summary">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#summarizer-summary-panel" aria-expanded="true"
                                    aria-controls="summarizer-summary-panel">
                                Summary
                            </button>
                        </h2>
                        <div id="summarizer-summary-panel" class="accordion-collapse collapse show"
                             aria-labelledby="summarizer-summary">
                            <div class="accordion-body">
                                <code>Output Word Count: {{ output_word_count }}<br>
                                    # of Output Tokens = {{ completion_tokens }}</code>
                                <hr>
                                <p>{{ summary }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if reference_list %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="summarizer-reference-list">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#summarizer-reference-list-panel" aria-expanded="false"
                                    aria-controls="summarizer-reference-list-panel">
                                Reference List
                            </button>
                        </h2>
                        <div id="summarizer-reference-list-panel" class="accordion-collapse collapse"
                             aria-labelledby="summarizer-reference-list">
                            <div class="accordion-body">
                                <p>{{ reference_list }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock content %}