body {
  color: #353740;

  .wrapper {
    max-width: 850px;
    width: 100%;

    .navbar-nav .nav-link.active,
    .navbar-nav .show > .nav-link {
      font-weight: 600;
    }

    .teaser .pub2sum-logo {
      font-size: 6rem;
    }

    .scroll-to-results a {
      font-size: 2rem;
      color: #0ca37f;
    }

    .scroll-to-results a:hover,
    .scroll-to-results a:focus,
    .scroll-to-results a:active {
      color: #0e9372;
    }
  }
}


