.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.primary-color {
    color: #10a37f;
}
.btn-primary-color {
    color: #fff;
    background-color: #10a37f;
    border-color: #10a37f;
}
.btn-primary-color:hover,
.btn-primary-color:active,
.btn-primary-color:focus {
    color: #fff;
    background-color: #0e9372;
    border-color: #0e9372;
}
.btn-outline-primary-color {
    color: #10a37f;
    border-color: #10a37f;
}
.btn-outline-primary-color:hover,
.btn-outline-primary-color:active,
.btn-outline-primary-color:focus {
    color: #fff;
    background-color: #10a37f;
    border-color: #10a37f;
}